body {
  font-family: 'Asap Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C47147;
}

.gerenciamento-container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #C47147;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#listaProdutos {
  margin-top: 20px;
}

#listaProdutos div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#listaProdutos img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  display: block;
}

.produto-item {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.produto-item img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  display: block;
}

.btn-excluir {
  position: absolute;
  bottom: 5px; /* Posição ajustada para o final do item */
  right: 5px;
  padding: 5px 10px;
  left: 50%; /* Move o botão para o centro */
  transform: translateX(-50%); /* Centraliza horizontalmente */
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

.btn-excluir:hover {
  background-color: #d43f3f;
}

